.contact {
  background-color: var(--secon-bg-color);
  width: 100%;
}

.contact form {
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
  width: 100%;
  color: var(--text-color);
  background: var(--bg-color);
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
}

.contact form textarea {
  resize: none;
}

.formBtn {
  justify-content: center;
  width: 100%;
}

.formBtn .btn {
  cursor: pointer;
}
