footer {
  padding: 1.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: #bdbdbd;
}

footer a {
  display: inline-flex;
  justify-content: center;
  color: var(--text-color);
  background: var(--hover-color);
  padding: 0.6rem;
  border-radius: 5px;
}

footer a i {
  font-size: 1rem;
  color: var(--secon-bg-color);
}
