header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
}

header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid var(--secon-bg-color);
  padding: 12px 10%;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navlist {
  display: flex;
}

.navlist a {
  display: inline-block;
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 20px;
  animation: slideAnimation 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  opacity: 0;
}

.navlist a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
}

#menu-icon {
  font-size: 1.8rem;
  z-index: 999;
  cursor: pointer;
  margin-left: 25px;
  background: var(--hover-color);
  border-radius: 3px;
  color: var(--bg-color);
  display: none;
}

/* Active menu */

.navlist a.active {
  color: var(--hover-color);
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
